@import 'https://fonts.googleapis.com/css2?family=MuseoModerno:wght@900&amp;display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap';
@import 'https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@300&display=swap';

:root {
  @include responsive-property(font-size, 16px, 22px);
}

body {
  font-family: 'Mukta Vaani', sans-serif;
  color: white;
  text-shadow:
    1px 1px 4px black,
    1px -1px 1px black;
}

h1 {
  font-family: 'MuseoModerno', sans-serif;
  text-shadow:
    1px -1px 1px black,
    1px -1px 10px #01579B;
}

h1,
h2 {
  text-align: center;
}

h1 {
  // background-color: red;
  font-size: 5rem;
  letter-spacing: -.25rem;
  line-height: .85;
  margin-top: 0;
  margin-bottom: 2rem;
}

p {
  line-height: 1.5;
  z-index: 1;
  filter: drop-shadow(0 2px 4px black);

  + p {
    margin-top: 0;
  }
}

a:link {
  transition: text-shadow .2s ease-in-out;
  text-shadow:
    0px -1px 3px rgba(white,.0),
    0px -2px 6px  rgba($discordLinkGlowColor,0),
    0px -2px 10px  rgba($discordLinkGlowColor,0)
}

a:link,
a:visited {
  color: white;
  text-decoration-color: #7289DA;
}

a:hover {
  text-shadow:
    0px -1px 3px rgba(white,.5),
    0px -2px 6px  rgba($discordLinkGlowColor,1),
    0px -2px 10px  rgba($discordLinkGlowColor,1)
}